<table class="table">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Incoming pressure</th>
    <th scope="col">Input TDS</th>
    <th scope="col">Output TDS</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <% if @client.installations.present? %>
  <tr>
    <th scope="row"></th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>

  </tbody>
</table>