<% provide :page_title, 'Clients' %>
<% menu %>

<h1 class="display-5"><%= link_to 'Clients list', clients_path, class: 'text-reset text-decoration-none' %></h1>

<div class="row-cols-3 mb-3">
  <%= render 'clients_search' %>
</div>

<%= render 'clients_list' %>