<% provide :page_title, t('.title') %>
<% currently_at t 'menu.clients' %>

<h1 class="display-5"><%= link_to t('.header'), clients_path, class: 'text-reset text-decoration-none' %></h1>

<div class="row-cols-3 mb-3">
  <%= render 'clients_search' %>
</div>

<%= render 'clients_list' %>